@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@900&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
  font-family: 'Roboto', sans-serif;
  /* background-image: linear-gradient(90deg, #3e32a8, #e310c7 ); */
  justify-content: center;
  align-items: center;
}

.homeback{
  background-image: url("./Assets/vivid-blurred-colorful-wallpaper-background.jpg");
  height: 100vh;
}

.homeback section {

  position: absolute;
  top:45%;
  left:38%;
  text-align: center;
  color: white;
  
}

.formlog{
  background-image: linear-gradient(90deg, #3e32a8, #e310c7 );
  height: 100vh;
}

.formlog section{
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top:28%;
  margin: auto;
  margin-left: 33%;
  text-align: center;
  border: solid 5px black;
  border-radius: 2%;
  padding-top: 2%;
  padding-bottom: 2%;
  

}

#emailHelp{
  color: rgb(195, 202, 205);
}

.formReg{
  background-image: linear-gradient(90deg, #3e32a8, #e310c7 );
  height: 100vh;
}

.formReg section{
  width: 800px;
  display: flex;
  flex-direction: column;
  word-spacing: 2px;
  white-space: nowrap;
  position: absolute;
  top: 10%;
  
  align-items: center;
  text-align: center;
  margin: auto;
  
  margin-left: 25%;
  
  border: solid 5px black;
  border-radius: 2%;
  padding-top: 2%;
  padding-bottom: 1%;
  
  

}
input[type=text] {
  
  padding: 12px 20px;
  margin: 10px 0;
  padding-left: 10px;
  box-sizing: border-box;
  margin-left: 15px;
}
input[type=password] {
  
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  
}
input[type=number] {
  
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

.Userlogin{
  background-color: white;
}

header{
  position: fixed;
  width: 100%;
  z-index: 9999;
}

.me-auto{
  float: right;
}

footer{
  position: fixed;
  left: 20%;
  bottom: 0;
  width: 80%;
  z-index: 9999;
  align-items: center;
}

.Usertop{
  padding-top: 6%;
  padding-left: 5%;
}
.row{
  position: absolute;
  padding-left: 5%;
}

.post{
  padding-top: 10%;
  text-align: center;
  justify-content: space-between;
  
}

.posttop{
  text-align: center;
  justify-content: space-between;  
}


.blogabout{
  padding-top: 10%;
  width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top:30%;
  margin: auto;
  margin-left: 24%;
  text-align: center;
  border: solid 5px black;
  border-radius: 2%;
  padding-top: 2%;
  padding-bottom: 2%;
}

.form-floating{
  
  width: 800px;
}

.postblog{
  padding-left: 5%;
  padding-top: 3%;
  padding-right: 5%;
  padding-bottom: 3%;
  width: 600px;
  text-align: center;
  position: absolute;
  left:30%;
  margin: auto;
  margin-top: 10%;
  border: solid 1px black;
}

.adminHomee{

  text-align: center;
  padding-top: 15%;
}


.formEdit{
  background-image: linear-gradient(90deg, #3e32a8, #e310c7 );
  height: 100vh;
}

.formEdit section{
  width: 800px;
  display: flex;
  flex-direction: column;
  word-spacing: 2px;
  white-space: nowrap;
  position: absolute;
  top: 19%;
  
  align-items: center;
  text-align: center;
  margin: auto;
  
  margin-left: 25%;
  
  border: solid 5px black;
  border-radius: 2%;
  padding-top: 2%;
  padding-bottom: 1%;
  
  

}